.wrapper
  .chat-side
    .side-header
      .side-header__box
        %p.side-header__box__user-name daisuke
        %ul.side-header__box__menu
          %li.side-header__box__menu__new-group
            = link_to do
              %i.fa.fa-edit
          %li.side-header__box__menu__edit-user
            = link_to do
              %i.fa.fa-cog
    .groups
      = link_to do
        .group
          %p.group__group-name test
          %p.group__latest-message こんにちは
      = link_to do
        .group
          %p.group__group-name test
          %p.group__latest-message さようなら
  .chat-main
    .main-header
      .main-header__left-box
        %p.main-header__left-box__current-group test
        %ul.main-header__left-box__member-list
          %li.main-header__left-box__member-list__menber Member :
          %li.main-header__left-box__member-list__menber 太郎
          %li.main-header__left-box__member-list__member daisuke
      = link_to do
        .main-header__edit-btn Edit
    .messages
      .message
        .message__upper-info
          %p.message__upper-info__talker daisuke
          %p.message__upper-info__data 2019/07/17(wed)11:30
        %p.message__text あああ
    .form
      %form.new_message{accept: { charset: "UTF-8"}, action: "#", method: "post"}
        .input-box
          %input.input-box__text{name: "message", placeholder: "type a message", type: "text"}
          %label.input-box__image{for: "message_image"}
            %i.fa.fa-image
            %input#message_image.input-box__image__file{name: "message", type: "file"}
        %input.submit-btn{name: "commit", type: "submit", value: "Send"}